<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.0/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sanitize-html/1.26.0/sanitize-html.min.js"></script>
    <title>Partners - VitalList</title>
    <%- include ("./parts/head.ejs") %>
  </head>
  <%- include ("./parts/navbar.ejs") %>
  <br><br><br><br>
    <div class="container">
          <h2><b>VitalList Partners</b></h2>
          <p>These are all of VitalList's partners that you should check out.</p>
          <br><br><br><br><br>
          <p>There are no partners yet, want to become one? <a href="/discord" style="color: #094cdb">Click Here.</a></p>
 </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <%- include("./parts/footer.ejs") %>