 <!--
<footer class="footer">
    <br>
    <center>
    <p>Copyright © 2022 VitalList, owned by Vital Development.</p>
    <p><a style="color: #094cdb" href="/tos">Terms of Service</a><br>
<a style="color: #094cdb" href="/policy">Privacy Policy</a></p>
  </center>
  </footer> 
  -->