<!-- do stuff 
create a fourm and post to /bots/:id/deny
--><html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deny Bot - Vital List</title>
    <%- include("../parts/head.ejs") %>
</head>
    <%- include("../parts/navbar.ejs") %>
    <br><br><br><br><br>
    <div class="container">
    <center>
    <h1 class="title"><b><i class="fa fa-bars mr-1"></i> Deny Bot</b><br></h1><p>Fill out the reason below in order to deny the bot.</p>
</center>
    <div class="form-group required">
        <label for="reason">Reason</label>
        <input type="text" class="form-control" id="reason" placeholder="Stupid Ahh bot" autocomplete="off">
    </div>
    <input type="submit" value="Submit" class="addbot_button" onclick='denybot()'style="cursor:pointer;">
    <script>
    function denybot(_id) {
        const request = new XMLHttpRequest();
        request.open('DELETE', `/bot/<%- id %>/status`, true);
        request.setRequestHeader('id', '#{note.id}');
        request.send(JSON.stringify({id: _id, reason: document.getElementById('reason').value}));
        //window.location.reload();
    }

    </script>

</div>
</div>
        <br><br><br><br><br>
     </div>
</html>