<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queue - VitalList</title>
    <%- include("../parts/head.ejs") %>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <%- include("../parts/navbar.ejs", { bot, user }) %>
    <br><br><br><br><br>
    <div class="container">
        <center>
          <h1 class="title"><b><i class="fa fa-bars mr-1"></i>Queue</b><br></h1><p>Bots that are currently waiting to be tested will be here.</p>
        </center>
       <br><br>
        <div class="bots-list">
            <br>
            <h5>Awaiting Approval</h5>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Prefix</th>
                    <th scope="col">Tag</th>
                    <th scope="col">ID</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody class="bots-list-body"></tbody>
            </table> 
        </div>
        <div class="progress-list">
            <br>
            <h5>In Progress</h5>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Prefix</th>
                    <th scope="col">Tag</th>
                    <th scope="col">ID</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody class="progress-list-body"></tbody>
            </table> 
        </div>
    </div>
</body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</html>
